<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ucoFirstTask"
                      transaction-type="RESOURCE_LOCAL">
        <class>kz.uco.ucofirsttask.entity.Account</class>
        <class>kz.uco.ucofirsttask.entity.Contact</class>
        <class>kz.uco.ucofirsttask.entity.Product</class>
        <class>kz.uco.ucofirsttask.entity.Order</class>
        <class>kz.uco.ucofirsttask.entity.OrderLine</class>
        <class>kz.uco.ucofirsttask.entity.Asdsd</class>
    </persistence-unit>
</persistence>
